html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  text-align: center;
  width: 100%;
}

h1 {
  color: #fff;
}

body {
  background: url("./bg.jpg");
  background-size: cover;
  background-position: top;
  color: #fff;
}

ul > li {
  margin: 30px 0;
}

.content {
  background: rgba(0,0,0, 0.5);
  border: 1px solid #f8b700;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

.button {
  text-decoration: none;
  background: #840;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 8px 20px;
  margin-top: 425px;
}

.discord {
  color: #333;
  border-color: #333;
  background-color: #cab2fb;
}

.recruitment {
  color: #f8b700;
  border-color: #f8b700;
  background-color: #56201c;
}